/* App */








/* important */
.hidden {
  display: none !important; 
}
/* Header */
.headerPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #3333;
 
}
.headerPage .nav-toggler{
  transform: scaleX(1.3);
}
.headerPage .nav-toggler:hover {
  cursor: pointer;
}
.headerPage .header-options{
  display: flex;
  flex-direction: row;
  width: 32%;
}
.headerPage .header-options>*{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.headerPage .header-options>*:hover,
.header-options>*:focus{
  cursor: pointer;
}
.headerPage .header-options .profile-button{
  background: silver;
}
.headerPage .header-options .notify::before{
  position:absolute;
  content: '';
  top: 3vh;
  transform: translate(5px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background:red;
}
.headerPage .header-options .profile-button{
  background: silver;
}
.profile-cover {
  width: 30px;
  height: 30px;
  background: #3332;
  border-radius: 50%;
}
.searchbox{
  position: absolute;
  left: 0;
  width: 100vw;
  height: 55px;
}
.searchbox #searchbox{
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 32px;
  font-size: 1rem;
  border-bottom: 1px solid #3333;
}
.searchbox #searchbox:focus{
  outline: none;
}
.searchbox .closebtn {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.4rem;
  color: #3339;
}

.themebox{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  width: 160px;
  height: 140px;
  padding: 3px 8px;
  transform: translate(-60px,90px);
  background: white;
  box-shadow: 0 0 15px 0px #3331;
  border-radius: 8px;
}
.themebox .option{
  display: flex;
  flex-direction: row;
  padding: 6px 0 6px 15px;
  font-size: 1rem;
  color: #333;
  align-items: center;
  border-radius: 5px;
  gap: 15px;
}
.themebox .option:hover{
  background-color: #f3f2f3;
  color: #444050;
}
.themebox .option:active{
  background: #e9e7fd;
  color: #7367f0;
}
.shortcutbox{
  position: absolute;
  width: 330px;
  height: 440px;
  transform: translate(-150px,243px);
  border-radius: 6px;
  box-shadow: 0 0 10px 0 #3333;
  background: white;
  cursor:auto;
}
.shortcutbox .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  padding: 15px;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #3333;
}
.shortcutbox .head .add{
  color: #333;
  font-size: 1.5rem;
  cursor:pointer;
}
.shortcutbox .main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 85%;  
  overflow: hidden scroll;
  scrollbar-width: thin;
  cursor:pointer;
}
.shortcutbox .main .option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 1;
  border-bottom:1px solid #3333;
  border-right:1px solid #3333;
}
.shortcutbox .main .option:hover {
  background: #4441;
}
.shortcutbox .main .option .img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3331;
}
.notificationbox{
  position: absolute;
  transform: translate(-190px, 260px);
  width: 400px;
  height: 475px;
  border-radius: 6px;
  cursor:auto;
  box-shadow: 0 0 15px 0 #3333;
  background-color: white;
}
.notificationbox .head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #3333;
}
.notificationbox .head .status {
  margin-left:130px;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background:#e9e7fd;
  color:#7367f0;
}
.notificationbox .head .markAllBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.notificationbox .head .markAllBtn:hover{
  cursor: pointer;
  background: #3331;
}
.notificationbox .main{
  width: 100%;
  height: 70%;
  overflow: hidden scroll;
  scrollbar-width: thin;
}
.notificationbox .main .notification{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #3333;
}
.notificationbox .main .notification .img{
  width: 50px;
  aspect-ratio: 1;
  margin-right: 20px;
  background: #3331;
  border-radius: 50%;
  font-weight: 100;
}
.notificationbox .main .notification .content p, .content .time{
  padding-top: 5px;
  font-size: .85rem;
  color: #333;
}
.notificationbox .tail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.notificationbox .tail .viewAllBtn{
  width: 90%;
  height: 45%;
  color: white;
  font-size: 1rem;
  background:#7367f0;
}
.notificationbox .tail .viewAllBtn:hover{
  background:#665cd7;
  cursor: pointer;
}

.profilebox {
  position: absolute;
  width: 220px;
  height: 360px;
  transform: translate(-90px,205px);
  border-radius: 6px;
  background: white;
  cursor: auto;
  box-shadow: 0 0 10px 0 #3333;
}
.profilebox .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #3333;
}
.profilebox .top .profile-details{
  display: flex; 
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 80%;
  padding: 10px;
  border-radius: 5px;
}
.profilebox .top .profile-details:hover{
  background-color: #3331;
  cursor: pointer;
}
.profilebox .top .img {
  width: 40px;
  height: 40px;
  background: #3331;
  border-radius: 50%;
}
.profilebox .top .details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 10px;
}
.profilebox .top .details .name{
  font-size: .95rem;
  font-weight: 600;
}
.profilebox .top .details .access{
  font-size: .85rem;
  color: #3336;
}
.profilebox .mid, .profilebox .mid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #3333;
}
.profilebox .mid>*,.profilebox .mid2>*{
  padding: 8px 0 8px 25px;
  display: flex;
  width: 95%;
  flex-direction: row;
  font-size: 1.05rem;
  border-radius: 5px;
}
.profilebox .mid>*:hover,.profilebox .mid2>*:hover{
  cursor: pointer;
  background: #3331;
}

.profilebox .mid2 .logout{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding:0;
  width: 90%;
  height: 23%;
  border-color: #ff4c51;
  background-color: #ff4c51;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}
.profilebox .mid2 .logout:hover{
  cursor: pointer;
  background: #e6454a;
  
}


/* Nav */
.navPage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.nav-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #3333;
}
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 260px;
  height: 100%;
  padding-top: 5px;
  background: white;
}
.navBar .nav-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 10%;
  min-height: 50px;
  font-size: 1.2rem;
  background: white;
}
.navBar .nav-head .logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3333;
  cursor: pointer;
}
.navBar .nav-head h4{
  padding: 0 0px 0 10px;
  cursor: pointer;
}
.navBar .nav-head .closebtn{
  margin-left: 40px;
  cursor: pointer;
  transform: scale(1,0.8);
}
.navBar .nav-body {
  padding: 5px 0 0 10px;
  width: 100%;
  overflow: hidden scroll;
  scrollbar-width: thin;
  scrollbar-color: #3335 white;
}
.navBar .nav-body>* {
  width: 100%;
  background-color: white;  
}
.navBar .nav-body>* .link{
  padding-left: 15px;
  font-size: 1.3rem;
}
.navBar .nav-body>* .link h5{
  padding-left: 10px;
  font-weight: 600;
}
.navBar .nav-body>* .link .arrow{
  position: absolute;
  left: 220px;
  font-size: 1rem;  
  transform: rotate(0deg);
  transition: all .4s ease;
}
.navBar .nav-body>*:hover .arrow {
  transition: all .4s ease;
  transform: rotate(90deg);
}
.navBar .nav-body>* .link,.navBar .nav-body>* .options * {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 10px 0px 0 10px;
  cursor: pointer;
}
.navBar .nav-body>* .link:hover,.navBar .nav-body>* .options *:hover {
  background: #3333;
}
.navBar .nav-body>* .link:active,.navBar .nav-body>* .options *:active {
  background: #3333;
}
.navBar .nav-body>* .link:focus,.navBar .nav-body>* .options *:focus {
  background: #3333;
}

.navBar .nav-body>* .options  {
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all .6s ease;
}
.navBar .nav-body>*:hover .options{
  transition: all .8s ease .2s;
  max-height: 250px;
}
.navBar .nav-body>* .options *{
  padding-left: 20px;
  font-size: 1rem;
}

/* Footer */






/* Dashboard Page*/








/* Email Campaign Page */









/* Schedule Manager Page */











/* Analytics Page */











/* Campaign View Page */













/* Status Tracker Page */











/* Account Settings Page */




