*, *::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* important */
.hidden {
  display: none !important; 
}
/* App */
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
}





/* Header */
.headerPage{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: white;
  border-bottom: 1px solid #3333;
  width: 100vw;
}
.headerPage .nav-toggler{
  transform: scaleX(1.3);
}
.headerPage .nav-toggler:hover {
  cursor: pointer;
}
.headerPage .header-options{
  display: flex;
  flex-direction: row;
  width: 32%;
}
.headerPage .header-options>*{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.headerPage .header-options>*:hover,
.header-options>*:focus{
  cursor: pointer;
}
.headerPage .header-options .profile-button{
  background: silver;
}
.headerPage .header-options .notify::before{
  position:absolute;
  content: '';
  top: 3vh;
  transform: translate(5px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background:red;
}
.headerPage .header-options .profile-button{
  background: silver;
}
.profile-cover {
  width: 30px;
  height: 30px;
  background: #3332;
  border-radius: 50%;
}
.searchbox{
  position: absolute;
  left: 0;
  width: 100vw;
  height: 55px;
}
.searchbox #searchbox{
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 32px;
  font-size: 1rem;
  border-bottom: 1px solid #3333;
}
.searchbox #searchbox:focus{
  outline: none;
}
.searchbox .closebtn {
  position: absolute;
  right: 40px;
  top: 10px;
  font-size: 1.4rem;
  color: #3339;
}

.themebox{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  width: 160px;
  height: 140px;
  padding: 3px 8px;
  transform: translate(-60px,90px);
  background: white;
  box-shadow: 0 0 15px 0px #3331;
  border-radius: 8px;
}
.themebox .option{
  display: flex;
  flex-direction: row;
  padding: 6px 0 6px 15px;
  font-size: 1rem;
  color: #333;
  align-items: center;
  border-radius: 5px;
  gap: 15px;
}
.themebox .option:hover{
  background-color: #f3f2f3;
  color: #444050;
}
.themebox .option:active{
  background: #e9e7fd;
  color: #7367f0;
}
.shortcutbox{
  position: absolute;
  width: 330px;
  height: 440px;
  transform: translate(-150px,243px);
  border-radius: 6px;
  box-shadow: 0 0 10px 0 #3333;
  background: white;
  cursor:auto;
}
.shortcutbox .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
  padding: 15px;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid #3333;
}
.shortcutbox .head .add{
  color: #333;
  font-size: 1.5rem;
  cursor:pointer;
}
.shortcutbox .main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 85%;  
  overflow: auto;
  scrollbar-width: thin;
  cursor:pointer;
}
.shortcutbox .main .option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 1;
  border-bottom:1px solid #3333;
  border-right:1px solid #3333;
}
.shortcutbox .main .option:hover {
  background: #4441;
}
.shortcutbox .main .option .img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3331;
}
.notificationbox{
  position: absolute;
  transform: translate(-190px, 260px);
  width: 400px;
  height: 475px;
  border-radius: 6px;
  cursor:auto;
  box-shadow: 0 0 15px 0 #3333;
  background-color: white;
}
.notificationbox .head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #3333;
}
.notificationbox .head .status {
  margin-left:130px;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  background:#e9e7fd;
  color:#7367f0;
}
.notificationbox .head .markAllBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.notificationbox .head .markAllBtn:hover{
  cursor: pointer;
  background: #3331;
}
.notificationbox .main{
  width: 100%;
  height: 70%;
  overflow: auto;
  scrollbar-width: thin;
}
.notificationbox .main .notification{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #3333;
}
.notificationbox .main .notification .img{
  width: 50px;
  aspect-ratio: 1;
  margin-right: 20px;
  background: #3331;
  border-radius: 50%;
  font-weight: 100;
}
.notificationbox .main .notification .content p, .content .time{
  padding-top: 5px;
  font-size: .85rem;
  color: #333;
}
.notificationbox .tail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.notificationbox .tail .viewAllBtn{
  width: 90%;
  height: 45%;
  color: white;
  font-size: 1rem;
  background:#7367f0;
}
.notificationbox .tail .viewAllBtn:hover{
  background:#665cd7;
  cursor: pointer;
}

.profilebox {
  position: absolute;
  width: 220px;
  height: 360px;
  transform: translate(-90px,205px);
  border-radius: 6px;
  background: white;
  cursor: auto;
  box-shadow: 0 0 10px 0 #3333;
}
.profilebox .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #3333;
}
.profilebox .top .profile-details{
  display: flex; 
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 80%;
  padding: 10px;
  border-radius: 5px;
}
.profilebox .top .profile-details:hover{
  background-color: #3331;
  cursor: pointer;
}
.profilebox .top .img {
  width: 40px;
  height: 40px;
  background: #3331;
  border-radius: 50%;
}
.profilebox .top .details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 10px;
}
.profilebox .top .details .name{
  font-size: .95rem;
  font-weight: 600;
}
.profilebox .top .details .access{
  font-size: .85rem;
  color: #3336;
}
.profilebox .mid, .profilebox .mid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  border-bottom: 1px solid #3333;
}
.profilebox .mid>*,.profilebox .mid2>*{
  padding: 8px 0 8px 25px;
  display: flex;
  width: 95%;
  flex-direction: row;
  font-size: 1.05rem;
  border-radius: 5px;
}
.profilebox .mid>*:hover,.profilebox .mid2>*:hover{
  cursor: pointer;
  background: #3331;
}

.profilebox .mid2 .logout{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding:0;
  width: 90%;
  height: 23%;
  border-color: #ff4c51;
  background-color: #ff4c51;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}
.profilebox .mid2 .logout:hover{
  cursor: pointer;
  background: #e6454a;
}

/* Nav */
.navPage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.nav-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #3333;
}
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 260px;
  height: 100%;
  padding-top: 5px;
  background: white;
}
.navBar .nav-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 10%;
  min-height: 50px;
  font-size: 1.2rem;
  background: white;
}
.navBar .nav-head .logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3333;
  cursor: pointer;
}
.navBar .nav-head h4{
  padding: 0 0px 0 10px;
  cursor: pointer;
}
.navBar .nav-head .closebtn{
  margin-left: 40px;
  cursor: pointer;
  transform: scale(1,0.8);
}
.navBar .nav-body {
  padding: 5px 0 0 10px;
  width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #3335 white;
}
.navBar .nav-body>* {
  width: 100%;
  background-color: white;  
}
.navBar .nav-body>* .link{
  padding-left: 15px;
  font-size: 1.3rem;
}
.navBar .nav-body>* .link h5{
  padding-left: 10px;
  font-weight: 600;
}
.navBar .nav-body>* .link .arrow{
  position: absolute;
  left: 220px;
  font-size: 1rem;  
  transform: rotate(0deg);
  transition: all .4s ease;
}
.navBar .nav-body>*:hover .arrow {
  transition: all .4s ease;
  transform: rotate(90deg);
}
.navBar .nav-body>* .link,.navBar .nav-body>* .options * {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 10px 0px 0 10px;
  cursor: pointer;
}
.navBar .nav-body>* .link:hover,.navBar .nav-body>* .options *:hover {
  background: #3333;
}
.navBar .nav-body>* .link:active,.navBar .nav-body>* .options *:active {
  background: #3333;
}
.navBar .nav-body>* .link:focus,.navBar .nav-body>* .options *:focus {
  background: #3333;
}

.navBar .nav-body>* .options  {
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all .6s ease;
}
.navBar .nav-body>*:hover .options{
  transition: all .8s ease .2s;
  max-height: 250px;
}
.navBar .nav-body>* .options *{
  padding-left: 20px;
  font-size: 1rem;
}

/* Footer */
.footerPage .footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  padding: 0 25px;
  color: #444;
  font-weight: 600;
  font-size: .9rem;
}
.footerPage .footer .links{
  display: flex;
  justify-content: space-evenly;
  width: 180px;
  font-size: 1.3rem;
}
.footerPage .footer .links *{
  cursor: pointer;
}
.footerPage .footer .links *:hover{
  color: black;
}


/* Dashboard Page*/
.dashboardPage .dashboard{
  width: 100vw;
  height: 93vh;
  padding: 0 15px 15px 0;
}
.dashboard h1{
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(to bottom,rgba(115, 103, 240, 0.85), #ee0978e4, #333); /* Adjust colors as needed */
  -webkit-background-clip: text; /* For webkit-based browsers */
  -webkit-text-fill-color: transparent; /* Makes text itself transparent */
  background-clip: text; /* Standard property */
  color: transparent;
}

.dashboardPage .dashboard .kpi-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
  background: white;
  gap: 25px;
  background-color: #e6e6e919;
}
.kpi-cards .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color:white;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #3333;
  text-shadow: 1px 1px 0px #3335;
}
.kpi-cards .cards:nth-child(1){
  flex:1 1 250px;
  max-width: 300px;
  height: 300px; 
  color: #64B5F6;
  background: #E3F2FD;
}
.kpi-cards .cards:nth-child(2){
  flex: 1 1 250px;
  max-width: 300px;
  height: 300px;
  color: #FFB74D;
  background: #FFF3E0;
}
.kpi-cards .cards:nth-child(3){
  flex: 1 1 250px;
  max-width: 300px;
  height: 300px;
  color: #BA68C8;
  background: #F3E5F5;
}
.kpi-cards .cards:nth-child(4){
  flex: 1 1 250px;
  max-width: 300px;
  height: 300px;
  color: #81C784;
  background: #E8F5E9;
}
.kpi-cards .cards:nth-child(5){
  flex: 1 1 250px;
  max-width: 300px;
  height: 300px;
  color: #FFCA28;
  background: #FFF8E1;

}
.kpi-cards .cards:nth-child(6){
  flex: 1 1 250px;
  max-width: 300px;
  height: 300px;
  color: #E57373;
  background: #FFEBEE; 

}
.kpi-cards .cards:nth-child(7){
  flex: 1 1 250px;
  max-width: 300px;
  height: 300px;
  color: #666;
  background-color: #eee;
}
.kpi-cards .cards .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
  text-shadow: none;
  font-weight: 600;
  color: #555;
  border-radius: 15px;
  text-align: center;
}
.kpi-cards .cards .bottom .value {
  font-size: 2rem;
}

.kpi-cards .cards:nth-child(1) .bottom {
  background-color: #BBDEFB;
}
.kpi-cards .cards:nth-child(2) .bottom {
  background-color: #FFE0B2;
}
.kpi-cards .cards:nth-child(3) .bottom {
  background-color: #E1BEE7;
}
.kpi-cards .cards:nth-child(4) .bottom {
  background-color: #C8E6C9;
}
.kpi-cards .cards:nth-child(5) .bottom {
  background-color: #FFECB3;
}
.kpi-cards .cards:nth-child(6) .bottom {
  background-color: #FFCDD2;
}
.kpi-cards .cards:nth-child(7) .bottom {
  background-color: #ccc;
}
.dashboard .charts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}
.line{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 350px;
  box-shadow: 0 0 8px 0 #3333;
  background: white;
  padding: 20px;
}
.pie{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  padding: 30px;
  box-shadow: 0 0 8px 0 #3333;
  background: white;
}

.recent-activity-feed {
  width: 100vw;
  padding-bottom: 25px;
}

.activity-feed {
  width: 90%;
  height: 30vh;
  margin: auto;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.activity-feed h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.activity-feed ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.activity-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.activity-time {
  font-size: 0.9rem;
  color: #888;
}

.activity-description {
  font-size: 1rem;
}




/* Email Campaign Page */









/* Schedule Manager Page */











/* Analytics Page */











/* Campaign View Page */













/* Status Tracker Page */











/* Account Settings Page */




